* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ff9100;
  font-family: "Montserrat", sans-serif;
  min-height: 8vh;
}
.logo {
  color: rgb(15, 14, 14);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links li {
  list-style: none;
  font-size: 14px;
}

.nav-links a {
  text-decoration: none;
  color: rgb(15, 14, 14);
  display: inline-block;
  padding: 14px 14px;
  letter-spacing: 1px;
}

.nav-links a:hover {
  background-color: chocolate;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 400px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 2px;
  background-color: azure;
  margin: 5px;
  transition: all 0.3s ease;
}

html {
  width: 100%;
  height: 100%;
  background-image: url(./nelson-santos-jr-PuaIPFH3FHg-unsplash.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

@media (max-width: 640px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    height: 92vh;
    top: 8vh;
    right: 0;
    width: 40%;
    background-color: #ff9100;
    transform: translateX(100%);
    transition: transform 0.4s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -4px);
}
